<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

  <div class="field">
    <%= f.label :phno %><br />
    <%= f.text_field :phno, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>
  Image upload: <%= f.file_field :avatar %>
  </div>

  <div class="field">
        <%= f.label :role %> as: <br />
        <%= f.select :role, [['user','user'],['rescuer','rescuer']] %>
    </div>
 <div id="hidden" style="display: none;">
   <div class="field">
        <%= f.label :specialized %> in catching: <br />
        <%= f.select :specialized, [['snake','snake'],['crocodile','crocodile'],['tiger','tiger'],['other','other']] %>
        
    </div>

    <div class="field">
        reference code of rescuer reffered by<br /> 
        <%= f.number_field :referred_by, autofocus: true %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
