<!DOCTYPE html>
<html>
<head>
  <title>RescueApp</title>
<%= Gon::Base.render_data({}) %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>  -->
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="login_nav">

  <% if !user_signed_in? %>
   <%= link_to "Sign up for user", new_user_registration_path %> or <%= link_to "log in for user", new_user_session_path %> <br>
  
   <% else %>
   <%= image_tag current_user.avatar.url(:thumb) %>
       Welcome <%= current_user.name %>.
       <%= link_to "edit your account", edit_user_registration_path %> .....
    <%= link_to "log out", destroy_user_session_path, :method => :delete %>
  <% end %>

 </div>

<%= yield %>

</body>
</html>
